:root {
    --primary-color: #6A034D;
    --secondary-color: #957698;
    
    --primary-color-text: #FFFFFF;
    --secondary-color-text: #BCB8B8;
}

*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    list-style-type: none;
    background-color: var(--secondary-color);
    color: var(--primary-color-text);
}

nav {
    display: flex;
    width: 100vw;
    height: 12.125rem;

    background-color: var(--primary-color);
}

nav>.icon-navbar {
    width: 24rem;
    height: 4.5625rem;
}

nav>.itens {
    display: flex;
}