:root {
    --primary-color: #6A034D;
    --secondary-color: #957698;
    
    --primary-color-text: #FFFFFF;
    --secondary-color-text: #BCB8B8;
}

*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    list-style-type: none;
    background-color: var(--secondary-color);
    color: var(--primary-color-text);
}

nav {
    display: flex;
    width: 100vw;
    height: 12.125rem;

    background-color: var(--primary-color);

    align-items: center;
    justify-content: space-between;

    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

nav>.icon-navbar {
    width: 24rem;
    height: 4.5625rem;
}

nav>.itens {
    display: flex;
    width: 100%;

    justify-content: space-around;
}

nav>.itens>.iten {
    display: flex;
    align-items: center;

    height: 6.5rem;

    font-size: 40px;
    font-weight: bold;
}

nav>.itens>.iten>img {
    width: 6.375;
    height: 6.5rem;
}

nav>.itens>.iten:hover {
    cursor: pointer;
}

main {
    display: flex;
    width: 100vw;
    flex-direction: column;
    
    align-items: center;
}

main>.banner-home {
    width: 67.4375rem;
    height: 9.9375rem;
}

main>.content {
    display: flex;

    flex-direction: row;
}
